# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries built with `go test -c`
*.test

# Output of the Go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Environment variables files
.env

# Build artifacts
out/
bin/
kts

# IDE settings
.idea/
